/* layout */

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}

body {
    display: flex;
}

.altng-frame {
    width: 100%;
    height: 100%;
}

.fps-ctr {
    position: absolute;
    bottom: .5rem;
    left: .5rem;
    color: rgba(255, 255, 255, 0.247);
    font-family: 'Courier New', Courier, monospace;
}